.project
/.settings/
.pydevproject
/.pytest_cache
/.cache/
/.tox/
.ipynb_checkpoints/
*.pyc
*.pyo
*.log
*.tmp
tmp.*
*~
.*~
pywbem*.egg-info
MANIFEST
/AUTHORS
/ChangeLog
/*.done
pylint_done
.coverage
/coverage_html/
/build/
/build_doc/
/pywbem_os_setup.bat
/pywbemcliservers.json
/tests/testtmp/
/tests/schema/mof*/
*,cover
cover
/tests/unit/.flake8
/pywbemcli/.flake8
setuptools-*.egg
setuptools-*.zip
/tmp_*/
/dist/pywbem*.tar.gz
/dist/pywbem*.whl
.DS_Store
