.project
/.settings/
.pydevproject
/.pytest_cache
/.cache/
/.tox/
.ipynb_checkpoints/
*.pyc
*.pyo
*.log
*.tmp
tmp.*
*~
.*~
pywbem_os_setup.sh
pywbem*.egg-info
MANIFEST
/AUTHORS
/ChangeLog
/*.done
/done/*.done
pylint_done
wbemcli.log
.coverage*
/coverage_html/
*.py,cover
/build/
/build_doc/
/pywbem_os_setup.bat
/pywbemcli_connection_definitions.yaml
/pywbemcli_connection_definitions.yaml.bak
/tests/testtmp/
/tests/schema/mof*/
/tests/unit/.flake8
/pywbemtools/pywbemcli/.flake8
/pywbemtools/_version_scm.py
setuptools-*.egg
setuptools-*.zip
/tmp_*/
/dist/pywbem*.tar.gz
/dist/pywbem*.whl
.DS_Store
/try/
/issues/
