.project
/.settings/
.pydevproject
/.cache/
/.tox/
.ipynb_checkpoints/
*.pyc
*.log
*.tmp
tmp.*
pywbemcli.egg-info
MANIFEST
pylint_done
.coverage
/build/
/build_doc/
/htmlcov/
setuptools-*.egg
setuptools-*.zip
/tmp_*/
/dist/pywbemcli*.tar.gz
/dist/pywbemcli*.whl
