# Pip requirements file for development dependencies.


# Direct dependencies for development
# (must be consistent with minimum-constraints-develop.txt)

# Tox
tox>=4.15.0

# Package builder
build>=1.1.1

# Change log manager
towncrier>=22.8.0

# Test tools
pytest>=8.4.0; python_version == '3.9'
pytest>=9.0.3; python_version >= '3.10'

# Virtualenv (used in install tests)
virtualenv>=21.3.0

# Coverage reporting tools
coverage>=7.8.0
coveralls>=4.0.1; python_version == '3.9'
coveralls>=4.0.2; python_version >= '3.10'
pytest-cov>=4.0.0

# Sphinx doc builder and optional extensions
Sphinx>=7.2.4
autodocsumm>=0.2.12
sphinx-git>=10.1.1
sphinx-rtd-theme>=2.0.0

# Package dependency checkers
pipdeptree>=2.24.0
pip-check-reqs>=2.5.1

# Safety checker
safety>=3.8.1

# Flake8 checker
flake8>=7.0.0

# Ruff checker
ruff>=0.16.0

# PyLint checker
pylint>=3.3.3; python_version == '3.9'
pylint>=4.0.4; python_version >= '3.10'

# Bandit checker
bandit>=1.7.8


# Indirect dependencies for development that are needed for some reason
# (must be consistent with minimum-constraints-develop.txt)


# Dependencies from install that are needed for consistency (e.g. because pinned)

# Click 8.2 made some attributes read-only and click-repl 0.2.0/0.3.0 does not
#   support that yet, see https://github.com/click-contrib/click-repl/issues/128
Click>=8.0.2,<8.2
