# Pip requirements file for install dependencies.

# Note: The dependencies in this file will become the dependencies stated
# in the Pypi package metadata.


# Direct dependencies for install
# (must be consistent with minimum-constraints-install.txt)

# TODO(RELEASE): Enable when using a released pywbem version:
pywbem>=1.9.0
# When using the GitHub master branch of pywbem, comment out the line above,
# activate the GitHub link based dependency below.
# In that case, some of the install tests need to be disabled by setting
# the 'PYWBEM_FROM_REPO' variable in in tests/install/test_install.sh.
# TODO(RELEASE): Disable when using a released pywbem version:
# pywbem@git+https://github.com/pywbem/pywbem.git@master

click>=8.1.8; python_version == '3.9'
click>=8.4.2; python_version >= '3.10'

click-repl>=0.4.0

# PyYAML is also pulled in by dparse and python-coveralls
# PyYAML 6.0 has wheel archives for Python 3.6 - 3.11
# PyYAML 6.0.0 fails install since Cython 3 was released, see issue
#   https://github.com/yaml/pyyaml/issues/724.
# PyYAML 6.0.2 provides wheel archives for Python 3.13 on Windows
PyYAML>=6.0.2

asciitree>=0.3.3
click-spinner>=0.1.10
nocasedict>=1.0.1
nocaselist>=1.0.3
packaging>=25.0
prompt-toolkit>=3.0.36
psutil>=6.1.0
tabulate>=0.8.8
toposort>=1.6
yamlloader>=0.5.5


# Indirect dependencies for install that are needed for some reason
# (must be consistent with minimum-constraints-install.txt)
