# Pip requirements file for pywbem runtime dependencies.
#
# The order of packages is significant, because pip processes them in the order
# of appearance.

# Make sure that the package versions in minimum-constraints.txt are also
# the minimum versions required in requirements.txt and dev-requirements.txt.


# Direct dependencies (except pip, setuptools, wheel):

pywbem>=0.12.0
# git+https://github.com/pywbem/pywbem.git@master#egg=pywbem

pbr>=1.10.0
six>=1.10.0
click>=6.6
click-spinner>=0.1.6
click-repl>=0.1.0
asciitree>=0.3.3
tabulate>=0.8.2
# Issue # 117 prompt_toolkit is available but is incompatible.
#   The repl cmd fails
prompt-toolkit>=1.0.15,<2.0.0
