# Requirements for building with Sphinx at readthedocs.org
#

six>=1.14.0
ply>=3.10
PyYAML>=3.13
# M2Crypto>=0.30.1  # we cannot install M2Crypto because RTD does not have Swig
Sphinx>=1.7.6
sphinx-git>=10.1.1
sphinxcontrib-fulltoc>=1.2.0
